prometheus:
  enabled: true
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "efs-prometheus"
          accessModes: 
            - "ReadWriteMany"
          resources:
            requests:
              storage: 50Gi
    podMonitorSelector: {}
    podMonitorSelectorNilUsesHelmValues: false
    ruleSelector: {}
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    serviceMonitorSelectorNilUsesHelmValues: false
    scrapeConfigSelectorNilUsesHelmValues: false

kubeStateMetrics:
  enabled: false

alertmanager:
  enabled: false

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin
  initChownData:
    enabled: false
  persistence:
    enabled: true
    storageClassName: "efs-grafana"
    accessModes: 
      - "ReadWriteMany"
    size: 10Gi

prometheusOperator:
  enabled: true
  namespaces: ''
  denyNamespaces: ''
  prometheusInstanceNamespaces: ''
  alertmanagerInstanceNamespaces: ''
  thanosRulerInstanceNamespaces: ''